<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Student Registration</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
<body>
	<div class="container">
    <h1>Student Registration</h1>
	<form th:action="@{/processRegistration}" method="post" th:object="${student}">
		<label for="stu_Name">Student Name:</label>
		<input type="text" th:field="*{stu_Name}" required="true"/><br><br>
		
		<label for="stu_Email">Student Email:</label>
		<input type="text" th:field="*{stu_Email}" required="true"/><br><br>
		
		<label for="stu_Gender">Student Gender:</label>
		<input type="radio" th:field="*{stu_Gender}" value="Male"/>Male
		<input type="radio" th:field="*{stu_Gender}" value="Fe-Male"/>Fe-male
		<input type="radio" th:field="*{stu_Gender}" value="others"/>Others<br><br>
		
		<label for="stu_Courses">Student Course:</label>
		<select th:field="*{stu_Courses}">
			<option value="">-select-</option>
			<option value="Java">JAVA</option>
			<option value="PYTHON">PYTHON</option>
			<option value="SALESFORCE">SALESFORCE</option>
		</select><br><br>
		<label for="stu_Gender">Student Timing:</label>
		<div class="form-check">
            <input class="form-check-input" type="checkbox" value="morning" th:field="*{stu_Timings}">
            <label class="form-check-label" for="morning">MORNING</label>
		</div>
		<div class="form-check">
            <input class="form-check-input" type="checkbox" value="EVENING" th:field="*{stu_Timings}">
            <label class="form-check-label" for="EVENING">EVENING</label>
		</div>
		 <input type="submit" value="Submit"/>
	</form>
	</div>
	<center> <a href="/all" class="btn btn-primary">view student enquiry list</a></center>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>